<div class="row">
  <div class="col-md-6">
    <%= simple_form_for [:app, billable_item] do |f| %>
      <%= f.input :name %>
      <%= f.input :item_number %>
      <%= f.input :price %>
      <%= f.input :practitioner_full_name %>

      <button class="btn btn-outline-primary">
        Submit
      </button>
    <% end %>
  </div>
</div>
