<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6">
    <h1>Billable Items</h1>
  </div>
  <div class="col-sm-6 text-right">
    <a class="btn btn-outline-success btn-sm" data-method="POST" href="<%= sync_app_billable_items_path %>">
      Sync Owner Health
    </a>
    <% if current_business.home_setting&.last_sync_billable_items_at %>
      <small>Last Sync At: <%= current_business.home_setting&.last_sync_billable_items_at.try(:strftime, "%d %b, %Y %I:%M%P") %></small>
    <% end %>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Item number</th>
      <th>Price</th>
      <th>Practitioner full name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @billable_items.each do |billable_item| %>
      <tr>
        <td><%= billable_item.name %></td>
        <td><%= billable_item.item_number %></td>
        <td><%= billable_item.price %></td>
        <td><%= billable_item.practitioner_full_name %></td>
        <td><%= link_to 'Show', app_billable_item_path(billable_item) %></td>
        <td><%= link_to 'Edit', edit_app_billable_item_path(billable_item) %></td>
        <td><%= link_to 'Destroy', app_billable_item_path(billable_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billable Item', new_app_billable_item_path %>
