<h1>Settings</h1>
<hr>

<%= simple_form_for [:app, @setting] do |f| %>
<div class="row">
  <div class="col-md-12">
    <h3>Owner Health</h3>
    <%= f.input :api_key, label: 'API key', input_html: { value: "", placeholder: @setting.api_key.to_s.gsub(/.(?=.{4})/,'#') } %>
  </div>
  <div class="col-md-12">
    <h3>Business details</h3>
    <%= f.input :business_name %>
    <%= f.input :business_phone %>
    <%= f.input :business_email %>
    <%= f.input :business_address %>
  </div>
  <div class="col-md-12">
    <h3>Introduction section</h3>
    <%= f.input :introduction_title %>
    <%= f.input :introduction_description, input_html: { rows: 8 } %>
  </div>
  <div class="col-md-12">
    <h3>Careers section</h3>
    <%= f.input :careers_title %>
    <%= f.input :careers_description, input_html: { rows: 8 } %>
  </div>
  <div class="col-md-12">
    <button class="btn btn-outline-success">
      Save
    </button>
  </div>
</div>
<% end %>
