<!-- Blog Section -->
<section id="blog" class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Recent Blog</h2>
      <hr class="lines">
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="<%= posts_one_path %>">
              <%= image_tag 'Rosemarysmall.jpg', class: 'img-responsive', alt: "Mobile Physiotherapist" %>
            </a>
          </div>
          <div class="blog-item-text">
            <h3>
              <a href="<%= posts_one_path %>">Benefits of mobile physiotherapy.</a>
            </h3>
            <p>
            I have long been a fan of physiotherapy in the home. Before I went on maternity leave to have my twins, I worked for a community rehabilitation program, where all our treatments were done in the home or in the community.
            </p>
            <a href="<%= posts_one_path %>" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="<%= posts_one_path %>">
            <%= image_tag 'melissasmall.jpg', class: 'img-responsive', alt: "Mobile Physiotherapist" %>            </a>
          </div>
          <div class="blog-item-text">
            <h3>
              <a href="<%= posts_one_path %>">What areas do we service?</a>
            </h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            </p>
            <a href="<%= posts_one_path %>" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="<%= posts_one_path %>">
              <%= image_tag 'duncansmall.jpg', class: 'img-responsive', alt: "Mobile Physiotherapist" %>            </a>
          </div>
          <div class="blog-item-text">
            <h3>
              <a href="<%= posts_one_path %>">Best exercises for knee pain.</a>
            </h3>
            <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            </p>
            <a href="<%= posts_one_path %>" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
    </div>
  </div>
</section>
<!-- blog Section End -->
