<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= @practitioner.avatar %>
</p>

<p>
  <strong>First name:</strong>
  <%= @practitioner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @practitioner.last_name %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @practitioner.profession %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @practitioner.registration %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @practitioner.summary %>
</p>
