<!DOCTYPE html>
<html>
  <head>
    <% if yield(:seo_tags).present? %>
      <%= yield(:seo_tags) %>
    <% else %>
      <title>OnePage</title>
    <% end %>

    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'sub_page', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'vendors' %>
  </head>

  <body>
    <%= render 'layouts/sub_header' %>
    <div class="container yield-padding">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'visitors/footer' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
